{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Navigation:
 * - breadcrumb: The breadcrumb trail for the current page.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - action_links: Actions local to the page, such as "Add menu" on the menu
 *   administration interface.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}

<main class="main oh" id="main">
<!-- Topbar -->
<section id="topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul>
          <li><h5>
            <a href="{% if top_news_update_url|render is not empty %}{{ top_news_update_url }}{% endif %}">{% if news_update_link_text|render is not empty %}{{ news_update_link_text }}{% endif %}</a>
          </h5></li>
          {% if facebook_url|render is not empty %}
            <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
          {% endif %} 
          {% if twitter_url|render is not empty %}
           <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
          {% endif %}
          {% if youtube_url|render is not empty %}
            <li><a href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a></li>
          {% endif %} 
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- Topbar-End -->
<!-- Header -->
  <section class="header">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
           <!-- Logo -->
          <a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home""><img src="{{ logopath }}"></a>
        </div> 
        <div class="col-md-8 col-sm-6 col-xs-12">        
          <!-- Ad-Banner -->
          <a href="#"><img src="/images/placeholder_leaderboard.jpg" alt="" style="width: 100%;"></a>
        </div>
      </div>
    </div>
  </section> 
<!-- Header End--> 
<!-- Navigation -->
  <nav id="menu" class="navbar navbar-default">
    <div class="container">    
      <div class="navbar-header">
      {% if page.primary_menu %}
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#magazine_collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span></button>
      {% endif %}    
      </div>  
      <div class="collapse navbar-collapse" id="magazine_collapse">
        {% if page.primary_menu %}
          <ul class="nav navbar-nav">                                                       
            {{ page.primary_menu }}
          </ul>
        {% endif %}  
      </div>   
    </div>
  </nav>
<!-- Navigation End-->

{%  set base_url = url('<front>')  %}
<section id="not-found-section" class="text-center">
  <div class="container">               
    <div class="row"> 
      <div class="not-found-body" >
        <div class="not-title" >
          <h1>403</h1>
          <h2>Access Denied</h2> 
        </div>  
          <h2>Access To The Webpage Was Denied. </h2>
          <p>You are not authorized to access this page. You must login to view this page.</p>      
          <a href="{{ base_url }}" class="btn btn-custom"> Go Home </a>      
      </div>
    </div>          
  </div>    
</section>
 
<div id="back-to-top">
  <a href="#top" aria-label="Go to top"><i class="ui-arrow-up"></i></a>
</div>
 <!--Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 footer-new-post">
        <h3>{% if news_post_title|render is not empty %}{{ news_post_title }}{% endif %}</h3>
          {% if news_post_desc %}
            {% autoescape 'html' %}
              {{ news_post_desc|raw }}
            {% endautoescape %}
          {% endif %}
        <i class="fa fa-envelope">
          <a href="mailto:{% if news_post_email|render is not empty %}{{ news_post_email }}{% endif %}">{% if news_post_email|render is not empty %}{{ news_post_email }}{% endif %}</a>
        </i>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 footer-popular-post">
        {{ page.popular_post }}
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 footer-latest-post">
        <ul>
          {{ page.latest_post }}
        </ul>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12 footer-categories">
        {{ page.categories }}
      </div>
    </div>
  </div>
</footer>  
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-7 col-xs-12">
         {% if copyright %}
          {{copyright|striptags('<b>,<strong>,<p>,<a>,<pre>')|raw}}
        {% endif %}  
      </div>
      <div class="col-md-5 col-sm-5 col-xs-12">
        <ul>
          {% if facebook_url|render is not empty %}
            <li><a href="{{ facebook_url }}"><i class="fa fa-facebook"></i></a></li>
          {%  endif %}
          {% if twitter_url|render is not empty %}
            <li><a href="{{ twitter_url }}"><i class="fa fa-twitter"></i></a></li>
          {%  endif %}
          {% if pinterest_url|render is not empty %}
          <li><a href="{{pinterest_url }}"><i class="fa fa-pinterest"></i></a></li>
          {%  endif %}
          {% if instagram_url|render is not empty %}
            <li><a href="{{ instagram_url }}"><i class="fa fa-instagram"></i></a></li>
          {%  endif %}
          {% if youtube_url|render is not empty %}
            <li><a href="{{ youtube_url }}"><i class="fa fa-youtube"></i></a></li>
          {% endif %}
          {% if snapchat_url|render is not empty %}
            <li><a href="{{ snapchat_url }}"><i class="fa fa-snapchat-ghost"></i></a></li>
          {%  endif %}
          {% if linkedin_url|render is not empty %}
            <li><a href="{{ linkedin_url }}"><i class="fa fa-linkedin"></i></a></li>
          {% endif %}
        </ul>      
      </div>
    </div>  
    </div>
  </div>
</section>  
<!-- Footer-section-end -->
</main>
<!-- Main-wrapper End -->
