
{#
/**
 * @file
 * Default theme implementation for a single field in a view.
 *
 * Available variables:
 * - view: The view that the field belongs to.
 * - field: The field handler that can process the input.
 * - row: The raw result of the database query that generated this field.
 * - output: The processed output that will normally be used.
 *
 * When fetching output from the row this construct should be used:
 * data = row[field.field_alias]
 *
 * The above will guarantee that you'll always get the correct data, regardless
 * of any changes in the aliasing that might happen if the view is modified.
 *
 * @see template_preprocess_views_view_field()
 *
 * @ingroup themeable
 */
#}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="youtube" style="background-image:url('{{ fields.field_images.content }}');">
      <div class="play-icon-overlay"></div>
        <a class="popup-youtube" href="{{ fields.field_youtube.content }}">
          <i class="fa fa-play"></i>
        </a>
      <a href="{{ fields.view_node.content }}">
 
        <p>{{ fields.body.content|striptags }}<p>
    
      </a>
    </div>
  </div>