{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div class="row">
  <div class="col-md-2 col-sm-4 col-xs-12 news-heading">
    <div class="news-title">
      <label>{{ view.getTitle() }}</label>
    </div>
  </div>
  <div class="col-md-10 col-sm-8 col-xs-12 resize"> 
    <div class="news owl-carousel owl-theme trending-news">
    	{% for row in rows %}
        	{{ row.content }}
     	{% endfor %}
    </div>
  </div>
</div>